.page {
  height: 100vh;
  width: 100%;
  padding-top: 48px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.noAddress {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 600;
}

.column {
  overflow: auto;
  padding: 0 24px;
  height: 100%;
}

.column + .column {
  border-left: 1px solid #e6e7e9;
}